|-------------------------|
|		   CONFIGURATION      |
|-------------------------|

MODE=dev
DOMAIN=.qucore.io

# Service ports
SERVICE_PORT=5000

# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=authdb
POSTGRES_PORT=5432

# PostgreSQL connection string
DATABASE_URL=postgres://myuser:mypassword@postgres:5432/authdb

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379



|-------------------------|
|		      SECRETS         |
|-------------------------|

COOKIES_SECRET=mycookies
REFRESH_SECRET=myrefresh
ACCESS_SECRET=myaccess



|-------------------------|
|		   TOKENS  AGES       |
|-------------------------|

REFRESH_AGE=2592000000 # 30 days in ms
ACCESS_AGE=900000 # 15 minutes in ms