@import 'tailwindcss';

:root {
  --bg: #fcfdff;
  --bl: #f0f1ff;
  --txt: #171219;
  --o-txt: #32323c;
  --border: #39394c;
  --spec-txt: #3039a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171219;
    --bl: #242433;
    --txt: #fcfdff;
    --o-txt: #e9eaed;
  }
}

@theme {
  --font-prosto: var(--font-prosto);
  --font-afacad: var(--font-afacad);
  --font-coda: var(--font-coda);
}
