# =========================================================================
# APPLICATION CONFIGURATION (TEMPLATE)
# =========================================================================
# INSTRUCTIONS:
# 1. BASE CONFIG (.env): Copy variables from BLOCK #1.
#    This is for local development (npm run dev).
# 2. DOCKER CONFIG (.env.prod): Copy variables from BLOCK #2.
#    These will override base values when running via Docker.
# =========================================================================



# ---------------------------------------------------------
# BLOCK #1: COMMON & LOCAL BASE (Keep these in your .env)
# ---------------------------------------------------------

# Application mode: dev | prod
MODE=dev

# System domain (SEO & Absolute Links)
NEXT_PUBLIC_SITE=<MODULE_NAME>.qucore.io

# CSR API Link (Browser)
NEXT_AUTH_URL=http://localhost:<SERVICE_PORT>

# SSR API Link (Server)
AUTH_URL=http://localhost:<SERVICE_PORT>



# ---------------------------------------------------------
# BLOCK #2: DOCKER OVERRIDES (Keep these in your .env.prod)
# ---------------------------------------------------------

# These values will override the ones above inside the container
MODE=prod

# Internal API link for Docker network
# Use the service name of your backend container
AUTH_URL=http://<SERVICE_NAME>:<SERVICE_PORT>